<?xml version="1.0"?>
<model>
  <name>marker24_60cm</name>
  <version>1.0</version>
  <description>
    Aruco marker 24 of 60 cm side length
  </description>
  <author>
    <name>Jordi Pages</name>
    <email>jordi.pages@pal-robotics.com</email>
  </author>
  <sdf version='1.3'>marker24_60cm.sdf</sdf>
</model>


